*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

header{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(249,7,66,0.9066001400560224) 35%, rgba(0,212,255,1) 100%);
    padding: 20px;
    text-align: center;
}

.headerTEXT{
    color: white;
    font-size: 2rem;
}

.addItemTEXT{
    margin: 2rem 2rem 0rem 5rem;
    font-size: 2.5rem;
}

#addItems{
    width: 75%;
    font-size: 1.5rem;
    margin : 0rem 1rem 2rem 5rem;
}

#submit{
    width: 5%;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #b3b3b3;
    font-weight: bold;
    transition: 0.3sec;
}

#submit:hover{
    background-color: #bbbbbb;
    color: #330000;
}
ul{
    margin : 0rem 17rem 2rem 5rem;
}

li{
    font-size: 1.25rem;
    margin-top: 0.5rem;
    list-style-type:none;
    background-color: #c2b0b0;
}

.li-completed{
    background-color: #4b3f3f;
}